<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">

      <div class="form-login">
        <h2>Bookings</h2>

        <%= simple_form_for([@instrument, @booking]) do |f| %>
          <%= f.input :start_date, as: :date, label: "Start date", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>

          <%= f.input :return_date, as: :date, label: '&nbsp;'.html_safe, placeholder: "To", wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.submit "book now", class: "btn btn-flat btn-lg btn-block btn-booking" %>
        <% end %>
    </div>
  </div>
</div>
