.content {
  display: flex;
}

.grid-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 15px;
}

.card-instrument {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-instrument > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-instrument h2 {
  font-size: 16px;
  margin: 0;
}

.card-instrument p {
  font-weight: bold;
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-instrument-infos {
  padding: 0px;
  display: grid;
  justify-content: start;
  align-items: center;
  position: relative;
}


.card-product {
  justify-content: center;
  overflow: hidden;
  height: 300px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  margin: 0px;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  margin-bottom: 2rem;
}

.card-product p {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 2rem;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


@media screen and (max-width: 992px){
  .card-product {
    height: 400px;
  }
}

/* medium devices */

@media screen and (max-width: 768px){
  .card-product {
    justify-content: center;
    display: grid;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    padding: 1rem;
    height: 100vh;
    margin: 0;
  }

  .card-product > img{
    height: 500px;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }

  .card-product-infos{
    margin-bottom: 5rem;
  }

  .card-product .card-product-infos {
    padding: 0px;
  }

  .card-product-infos h2 {
    margin-bottom: 2rem;
  }

  .card-product-infos a {
    margin-top: 3rem;
  }

}

@media screen and (max-width: 576px){
  .card-product{
    height: 80%;
    margin: 0;
  }

}

/* small devices */

@media screen and (max-width: 350px){

  .card-product-infos h2 {
    font-size: 25px;
  }

  .card-product-infos p {
    font-size: 17px;
  }
}
