.footer {
  bottom: 0;
  width: 100%;
  margin-top: O auto;
  background: #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.50;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}


/* large devices */

@media screen and (max-width: 992px){

  .footer {
    padding: 0px 40px;
  }

  .footer-links a {
    font-size: 18px;
    padding: 0px 8px;
  }

  .footer-copyright{
    font-size: 10px;
  }
}

/* medium devices */

@media screen and (max-width: 768px){
  .footer {
    padding: 0px 35px;
  }

  .footer-links a {
    font-size: 16px;
    padding: 0px 7px;
  }
}

@media screen and (max-width: 576px){

}

/* small devices */

@media screen and (max-width: 350px){

}
