<div data-refresh-list-target="list">
  <div class="container my-3">
    <div class="row justify-content-center">
      <% instruments.each do |instrument| %>
        <div class="col-3">
          <div class="card-instrument">
            <%= cl_image_tag instrument.photo.key %>
            <div class="card-instrument-infos">
              <h2><%= link_to instrument.name, instrument_path(instrument) %></h2>
              <p>R$ <%= instrument.price %></p>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
