<div data-controller="refresh-list">
  <%= form_with url: instruments_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Find a instrument',
                     value: params[:query],
                     data: {
                      refresh_list_target: 'searchInput',
                      action: "keyup->refresh-list#update"
                    } %>
  <% end %>
  <div data-refresh-list-target="list">
    <!-- [...] -->
  </div>
</div>
