<div class="container">

  <div class="row justify-content-center">

    <div class="col-12 col-md-4">
      <div class="form-login">
        <%= render "form", instrument: @instrument %>
      </div>
    </div>

  </div>

</div>
