<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4">

     <div class="form-login">
        <h1>Create your instrument</h1>

        <%= render "form", instrument: @instrument %>
      </div>

    </div>
  </div>
</div>
