<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-4">
      <h1>Hello People</h1>

      <%= render "form", instrument: @instrument %>
    </div>
  </div>
</div>
