<div class="container">

  <div class="card-product">
    <img src="https://api.batsss.co/uploads/medium_capa_Flauta_Tranversal_Eagle_FL_03_N_1519_c9b5ca7a04.png" />
    <div class="card-product-infos">
      <h2> <%= @instrument.name %> </h2>
      <p> R$ <%= @instrument.price %> </p>
      <a class="btn btn-flat" href="#">Book now</a>

      <%= link_to "Delete",
      instrument_path(@instrument),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </div>
  </div>
