<div class="container">

  <div class="card-product">
    <%= cl_image_tag @instrument.photo.key %>
    <div class="card-product-infos">
      <h2> <%= @instrument.name %> </h2>
      <p> R$ <%= @instrument.price %> </p>
      <a class="btn btn-flat" href="#">Book now</a>

      <%= link_to "Delete",instrument_path(@instrument),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@instrument).destroy?
      %>
    </div>
  </div>
