<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-md-4">
</div>
<h1> <%= @instrument.name %> </h1>
<h4> <%= @instrument.price %> </h4>
<%= link_to "back home", instruments_path %>
